---
layout: default
---
{% unless site.dash.show_author == false %}
  {% include author.html %}
{% endunless %}
{% assign posts_count = paginator.posts | size %}
{% if posts_count > 0 %}
<h1>recent articles</h1>
    <div class="post-links">
      {% for post in paginator.posts %}
        <div class="post-link-wrapper">
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <div class="post-meta">

            {% if site.plugins contains "jekyll/tagging" %}
            <div class="post-tags">
                {% for tag in post.tags %}
                <a class="tag" href="/tag/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {{ post.date | timeago }}
            {% comment %} {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %} {% endcomment %}
            {% if site.show_excerpts == true %}
              <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}

    {% include tagcloud.html %}
{% else %}
<h2>no posts yet.</h2>
{% endif %}
